
  body {
    margin: 0 ;
    background:magenta;	
    overflow:hidden;
  }

  #frame{
    margin: 0px auto; /*center*/
    width: 100%;
    height: 100%;
  }

  svg {
    background: white;
    overflow:hidden;
    width:100%;
    height:100%;
  }

  .border {
    fill: steelblue;
  }

  svg text { 
    font-weight: bolder;
    font-family: monospace; 
    font-size: 50px;
    text-anchor: middle;	
    fill: black;
    opacity: 0.1;
  }

  .display {
    shape-rendering: crispEdges;
    stroke: steelblue;
    stroke-linecap:round;
    fill:none;
  }
