
  body {
    margin: 0 ;
    background:magenta;	
    overflow:hidden;
  }

  svg {
    background: white;
    overflow:hidden;
  }

  line , ellipse {
    shape-rendering: crispEdges;
    stroke: steelblue;
    stroke-linecap:round;
    fill:none;
  }
  .border {
    fill: steelblue;
  }

  svg text { 
    font-weight: bolder;
    font-family: monospace; 
    font-size: 50px;
    text-anchor: middle;	
    fill: black;
    opacity: 0.1;
  }

